span, p{
  font-size:20px;
}
span{
margin-left:50px;
  display:inline;
}
div{
text-align:center;
}
img{
text-align:center;
  border-radius:0px;
  background-size:cover;
}
body{
text-align:center;
  background-image:linear-gradient("brown" 20%, "gray", 40%, "yellow" 60%, "green" 80%, "blue" 100%);
}
