body{
  background-image:url("https://play-lh.googleusercontent.com/vKI1rCXjZms6XWIC8lyCpWRHLLYRLjn1MCQFJ1FK-Zsl0Kz8X7a77YDVY6rh7KKsTSo"); 
  background-size:cover; 
  text-align:center;
}
#start{
  font-size:25px;
  background-color:green; 
  color:white;
}
h1{
  font-weight:bold;
  text-align:center;
  color:blue;
  width:200px;
  font-size:35px;
}
